#data{

    .parse-success{
        margin-top: 5px;
        line-height: 22px;
        text-align:right;
        button{
            margin-left: 10px;
        }
    }

}

.ReactModal__Overlay{
  z-index: 2;

  .jsonTable{
    width: 100%;
    .jsonRow{

      .jsonCell{
        padding: 2px 5px;
      }
      &.jsonEven{
        background-color: #ddd;
      }
    }
  }
}
