
.nav-tabs {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: $white;
    margin-top: 15px;
    margin-left: -20px;
    width: calc(100% + 40px);
    padding-left: 40px;
}
.nav-tabs>li>a{
  padding:15px;
}
.nav>li>a:hover, .nav>li>a:focus{
  background-color: $white;

}
.nav-tabs>li>a:hover{
  border-color:transparent;
  border-bottom: 2px solid $grey;
}
.nav-tabs>li>a.active, .nav-tabs>li>a.active:hover, .nav-tabs>li>a.active:focus{
  border-color:transparent;
  border-bottom: 2px solid $red;
  color:$red;
}
